.CartModal {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  overflow: auto;
}

.CartModal-emptyText {
  display: block;
  margin: auto 0;
  color: #7d7d7d;
  text-align: center;
}

.CartModal-listWrapper {
  margin: auto 0;
}
