.PreviewCart {
  min-height: 61px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-bottom: 1px dashed #ccc;
  font-size: 18px;
}

.PreviewCart b {
  padding-left: 10px;
}

.PreviewCart-actions {
  padding: 20px 20px 20px 10px;
}

.PreviewCart-button {
  padding-left: 13px;
  padding-right: 13px;
}