.TotalCardRow {
  min-height: 61px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 114px;
  font-weight: 700;
  font-size: 18px;
}

.TotalCardRow-price {
  min-width: 90px;
  text-align: right;
}


