.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  margin-right: auto;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-priceWrapper {
  margin-right: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.Item-price {
}

.Item-count {
  text-align: right;
  min-width: 80px;
}